.users-wrapper {
  width: 100%;
}

.posts-btn {
  background: #1976d2;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background: #1256a3;
  }
}
