.layout-container {
  display: flex;
  min-height: calc(100vh - 120px);
}

.main-content {
  width: 50%;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 1024px) {
  .main-content {
    width: 80%;
  }
}
